# Bytecode files #
*.class

# Package Files #
*.war*

# virtual machine crash logs #
hs_err_pid*

# Other folders and files from Development Tools #
extra/
build/
.gradle/
.idea/
.metadata/
.settings/
.classpath
.project
.springBeans
gradle-app.setting
.nb-gradle-properties
*.iml
.nb-gradle/
